* {
    font-family: system-ui;
}

table {

    border: 1px solid #ededed;
    width: 50%;
    margin: auto;
}

tr {

    height: 40px;
    border-bottom: 1px solid #ededed;
    background-color: #fbfbfb;
    text-align: center;
}

.title {
    background-color: #009688;
    height: 30px;
    color: #fff;
    font-size: 26pt;
}

.topo {
    background-color: black;
    height: 30px;
    color: antiquewhite;
    font-size: 36pt;
}

th {
    padding-left: 40px;
    padding-right: 40px;
}