#topo {
    background-color: aqua;
    width: 715px;
    height: 170px;
    margin-right: auto;
    margin-left: auto;
}

#menu {
    background-color: cyan;
    width: 715px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
    background-color: #ededed;
    list-style: none;
    font-family: tahoma;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    background-color: rgb(51, 48, 48);
    color: cadetblue;
    text-decoration: none;
    border-bottom: 3px solid black;
    padding: 10px 10px;
    float: left;
}

#menu ul li a:hover {
    background-color: #d6d6d6;
    border-bottom: 3px solid #ea0000;
}

#conteudo {
    background-color: silver;
    width: 715px;
    margin-right: auto;
    margin-left: auto;
}

#rodape {
    background-color: yellowgreen;
    width: 715px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
}

p {
    text-align: justify;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    font-style: italic;
    color: #006;
    background-color: cornsilk;
    text-align: center;
}
